# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# No cargar cache de .sass y bower_components 
# Trabaja con foundation
# gemfile creará estas carpetas

.sass-cache/*
app/js/lib/*
app/scss/bootstrap-sass/*
dist/assets/*
node_modules/*

# Otros
*.DS_Store